.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 14px;
	gap: 8px;

	span:first-child {
		color: var(--color-text-secondary);
	}
	span:last-child {
		color: var(--color-primary-light);
		cursor: pointer;
	}
}
