.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100vw;
	height: 56px;
	background: var(--color-bg-paper);
	z-index: 9;
	transition: all 0.3s ease;

	.container {
		display: flex;
		justify-content: space-between;
		gap: 10px;
		height: 100%;
	}

	.leftContent {
		display: flex;
		flex: 1;
		gap: 10px;
		height: 100%;

		.chapterTitle {
			max-width: 276px;
			width: 100%;
			font-size: 12px;
			color: #bebaac;
			text-overflow: ellipsis;
			overflow: hidden;
			text-wrap: nowrap;
		}
	}

	.headerList {
		display: flex;
		align-items: center;
		height: 100%;

		a {
			padding: 6px;
		}

		svg {
			width: 24px;
			height: 24px;
			fill: #bebaac;
		}
	}
}

.hiding {
	transform: translateY(-56px);
}
