.container {
  display: flex;
  width: 100%;
  gap: 12px;

  .image {
    width: 60px;
    object-fit: cover;
    aspect-ratio: 1 / 1.5;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: var(--color-text-primary);
    font-size: 16px;
    font-weight: 600;

    .subtitle {
      color: var(--color-text-secondary);
      font-size: 14px;
      line-height: 1.43;
    }
  }
}
