.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;

  overflow: hidden;

  a {
    height: 32px;
    transition: all 0.2s ease;
  }

  a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
  }

  svg {
    width: 32px;
    height: 32px;
    fill: var(--color-fill-logo);
  }
}
