.leftContent {
  position: relative;
  width: clamp(230px, 33vw, 250px);

  .container {
    position: fixed;
    width: clamp(230px, 33vw, 250px);
    display: flex;
    flex-direction: column;
  }

  .image {
    width: 100%;
    aspect-ratio: 1 / 1.4;
    margin-bottom: 8px;
    border-radius: 5px;
    background: url("http://localhost:8080/uploads/noposter.jpg") no-repeat
      center/cover;
    overflow: hidden;
    img {
      object-fit: cover;
    }
  }

  .buttons {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    padding: 8px 4px;

    .link {
      width: 100%;
      padding: 8px 16px;
      font-size: 12px;
      font-weight: 600;
      color: var(--color-text-on-primary);
      background-color: var(--color-primary);
      border-radius: 8px;
      text-transform: uppercase;
    }
  }
}
