.login {
	position: fixed;
	right: 0;
	bottom: 0;
	top: 0;
	left: 0;
	z-index: 15;

	.container {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.667);

		.wrap {
			display: flex;
			flex-direction: column;
			margin: 8px;
			width: 100%;
			max-width: 444px;
			padding: 64px 54px 48px;
			background-color: var(--color-bg-secondary);
			border-radius: 16px;
			z-index: 16;

			.title {
				margin-bottom: 15px;
				font-size: clamp(16px, 2.5vw, 20px);
				font-weight: 500;
				line-height: 1.334;
				color: var(--color-text-secondary);
			}
		}
	}
}
